.Signup{
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    background-color: #640aff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Signup-Box{
    height: 60vh;
    width: 30vw;
    border: 3px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Signup-Box-Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Signup-Box-Form input{
    background-color: #640aff;
    color: white;
    font-size: 1vw;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 5vh;
}

.Signup-Box-Form input::placeholder{
    color: white;
    
}

.Signup-Box-Title{
    margin-top: 3vh;
    font-weight: 600;
    font-size: 2vw;
    color: white;
}

.Signup-Box-Form-NameInput{
    display: inline-block;
    box-sizing: border-box;
    width: 10vw;
}

#Signup-Form-FirstName{
    margin-right: 2vw;
}

.Signup-Box-Form-Submit{
    align-self: center;
    margin-top: 5vh;
    border: none;
    box-shadow: #000F52 2px 2px;
    border-radius: 20px;
    padding: 1rem;
    background-color: #91A6FF;
    width: 10vw;
    font-size: 1.2vw;
    font-weight: 500;

}